html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/**
 * Set up a decent box model on the root element
 */
html {
  box-sizing: border-box; }

/**
 * Make all elements from the DOM inherit from the parent box-sizing
 * Since `*` has a specificity of 0, it does not override the `html` value
 * making all elements inheriting from the root box-sizing value
 * See: https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/
 */
*, *::before, *::after {
  box-sizing: inherit; }

/**
 * Basic styles for links
 */
a {
  color: #e50050;
  text-decoration: none; }
  a:hover, a:active, a:focus {
    color: #222222;
    text-decoration: underline; }

/**
 * Basic typography style for copy text
 */
body {
  color: #222222;
  font: normal 125%/1.4 "Open Sans", "Helvetica Neue Light", "Helvetica Neue", "Helvetica", "Arial", sans-serif; }

/**
 * Clear inner floats
 */
.clearfix::after {
  clear: both;
  content: '';
  display: table; }

/**
 * Main content containers
 * 1. Make the container full-width with a maximum width
 * 2. Center it in the viewport
 * 3. Leave some space on the edges, especially valuable on small screens
 */
.container {
  max-width: 68em;
  /* 1 */
  margin-left: auto;
  /* 2 */
  margin-right: auto;
  /* 2 */
  padding-left: 20px;
  /* 3 */
  padding-right: 20px;
  /* 3 */
  width: 100%;
  /* 1 */ }

/**
 * Hide text while making it readable for screen readers
 * 1. Needed in WebKit-based browsers because of an implementation bug;
 *    See: https://code.google.com/p/chromium/issues/detail?id=457146
 */
.hide-text {
  overflow: hidden;
  padding: 0;
  /* 1 */
  text-indent: 101%;
  white-space: nowrap; }

/**
 * Hide element while making it readable for screen readers
 * Shamelessly borrowed from HTML5Boilerplate:
 * https://github.com/h5bp/html5-boilerplate/blob/master/src/css/main.css#L119-L133
 */
.visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }

.nav .nav__top li, .nav .nav__top li:last-child, .nav .nav__top li:nth-last-child(2), .nav .nav__bottom li, .header__weather i {
  min-width: 3.5em;
  padding: 0.5em 0;
  float: left;
  display: block;
  margin-right: 1.35446%;
  width: 7.09175%;
  text-align: center; }
  .nav .nav__top li:last-child, .nav .nav__bottom li:last-child, .header__weather i:last-child {
    margin-right: 0; }

.nav {
  background: #005689; }
  .nav a {
    color: #ddd; }
  .nav .nav__top {
    height: 2.625em;
    display: block; }
    .nav .nav__top::after {
      clear: both;
      content: "";
      display: table; }
    .nav .nav__top i {
      margin-right: 0.625em; }
    @media screen and (min-width: 1024px) {
      .nav .nav__top li {
        min-width: 10em; } }
    .nav .nav__top li:last-child {
      float: right;
      display: block;
      margin-left: 1.35446%;
      width: 7.09175%; }
      .nav .nav__top li:last-child:last-child {
        margin-left: 0; }
    .nav .nav__top li:nth-last-child(2) {
      float: right;
      display: block;
      margin-left: 1.35446%;
      width: 7.09175%; }
      .nav .nav__top li:nth-last-child(2):last-child {
        margin-left: 0; }
    .nav .nav__top li span {
      display: none; }
      @media screen and (min-width: 1024px) {
        .nav .nav__top li span {
          display: inline-block; } }
  .nav .logo {
    display: block; }
    .nav .logo::after {
      clear: both;
      content: "";
      display: table; }
  .nav picture {
    padding: 1em;
    float: right; }
  .nav .nav__bottom {
    height: 48px;
    display: block;
    overflow: hidden;
    background: #004065;
    text-align: center; }
    .nav .nav__bottom::after {
      clear: both;
      content: "";
      display: table; }
    .nav .nav__bottom li:first-child {
      background: #444444; }

.footer {
  overflow: auto; }
  .footer ul {
    float: left;
    display: block;
    margin-right: 1.35446%;
    width: 49.32277%; }
    .footer ul:last-child {
      margin-right: 0; }
    .footer ul li {
      width: 33%;
      float: left; }
  .footer__form {
    float: left;
    display: block;
    margin-right: 1.35446%;
    width: 49.32277%;
    background-color: green; }
    .footer__form:last-child {
      margin-right: 0; }

.footer, .footer ul, .footer ul li, .footer__form {
  min-height: 55px;
  border: 1px dotted black; }

@media screen and (min-width: 768px) {
  .top__featured, .top__side, .bottom__tall, .bottom__tall--pink {
    height: 236px; } }
@media screen and (min-width: 1250px) {
  .top__featured, .top__side, .bottom__tall, .bottom__tall--pink {
    height: 310px; } }

.top__side, .bottom__tall, .bottom__tall--pink {
  float: left;
  display: block;
  margin-right: 1.35446%;
  width: 100%; }
  .top__side:last-child, .bottom__tall:last-child, .bottom__tall--pink:last-child {
    margin-right: 0; }
  .top__side img, .bottom__tall img, .bottom__tall--pink img {
    float: left;
    padding: 0.2em 0.5em 0.2em 0.5em; }
  @media screen and (min-width: 768px) {
    .top__side, .bottom__tall, .bottom__tall--pink {
      float: left;
      display: block;
      margin-right: 1.35446%;
      width: 23.98416%; }
      .top__side:last-child, .bottom__tall:last-child, .bottom__tall--pink:last-child {
        margin-right: 0; }
      .top__side img, .bottom__tall img, .bottom__tall--pink img {
        float: none;
        padding: 0.2em 0 0 0; } }

.top__featured, .top__side, .bottom__tall, .bottom__tall--pink, .article-small {
  overflow: hidden;
  line-height: 1.01em;
  padding: 0 0.5em;
  background-color: #f6f6f6;
  margin-bottom: 0.8em;
  border-top: 1px solid #005689;
  font-size: 0.8em; }
  .top__featured a, .top__side a, .bottom__tall a, .bottom__tall--pink a, .article-small a {
    color: #005689; }

section {
  width: 95%;
  max-width: 1300px;
  margin: auto; }
  section.headlines {
    margin-top: 0.5em; }

.header {
  float: left;
  display: block;
  margin-right: 1.35446%;
  width: 100%;
  height: 40px;
  overflow: hidden;
  color: #005689; }
  .header:last-child {
    margin-right: 0; }
  @media screen and (min-width: 768px) {
    .header {
      height: 80px; } }
  @media screen and (min-width: 768px) {
    .header {
      height: 100%; } }
  @media screen and (min-width: 1024px) {
    .header {
      float: left;
      display: block;
      margin-right: 1.35446%;
      width: 15.53795%; }
      .header:last-child {
        margin-right: 0; } }
  .header__date {
    float: left;
    display: block;
    margin-right: 1.35446%;
    width: 66.21518%; }
    .header__date:last-child {
      margin-right: 0; }
    @media screen and (min-width: 1024px) {
      .header__date {
        float: left;
        display: block;
        margin-right: 1.35446%;
        width: 100%; }
        .header__date:last-child {
          margin-right: 0; } }
    .header__date h3 {
      padding: 0.2em;
      font-size: 1.2em; }
    .header__date h4 {
      padding: 0.3em;
      font-size: 0.8em; }
  .header__weather {
    float: right;
    display: block;
    margin-left: 1.35446%;
    width: 32.43036%; }
    .header__weather:last-child {
      margin-left: 0; }
    @media screen and (min-width: 1024px) {
      .header__weather {
        float: left;
        display: block;
        margin-right: 1.35446%;
        width: 100%; }
        .header__weather:last-child {
          margin-right: 0; } }
    @media screen and (min-width: 1024px) {
      .header__weather li:first-child {
        float: left;
        display: block;
        margin-right: 1.35446%;
        width: 100%;
        font-size: 2em; }
        .header__weather li:first-child:last-child {
          margin-right: 0; } }

@media screen and (min-width: 768px) {
  .content {
    float: left;
    display: block;
    margin-right: 1.35446%;
    width: 100%; }
    .content:last-child {
      margin-right: 0; } }
@media screen and (min-width: 1024px) {
  .content {
    float: left;
    display: block;
    margin-right: 1.35446%;
    width: 83.10759%; }
    .content:last-child {
      margin-right: 0; } }

.top {
  display: block; }
  .top::after {
    clear: both;
    content: "";
    display: table; }
  .top__featured {
    float: left;
    display: block;
    margin-right: 1.35446%;
    width: 100%;
    padding-bottom: 16px; }
    .top__featured:last-child {
      margin-right: 0; }
    .top__featured img {
      margin: auto;
      width: 100%; }
      @media screen and (min-width: 768px) {
        .top__featured img {
          width: 380px;
          float: right;
          padding-left: 1em;
          padding-bottom: 22px; } }
      @media screen and (min-width: 1024px) {
        .top__featured img {
          width: 420px; } }
      @media screen and (min-width: 1250px) {
        .top__featured img {
          width: 500px; } }
    .top__featured h5 {
      font-size: 1.35em;
      line-height: 1em; }
    @media screen and (min-width: 768px) {
      .top__featured {
        float: left;
        display: block;
        margin-right: 1.35446%;
        width: 74.66139%; }
        .top__featured:last-child {
          margin-right: 0; } }

.bottom {
  display: block; }
  .bottom::after {
    clear: both;
    content: "";
    display: table; }
  .bottom__tall--pink {
    background-color: #928; }
  @media screen and (min-width: 768px) {
    .bottom__small {
      float: left;
      display: block;
      margin-right: 1.35446%;
      width: 23.98416%; }
      .bottom__small:last-child {
        margin-right: 0; } }

.article-small {
  float: left;
  display: block;
  margin-right: 1.35446%;
  width: 100%;
  padding: 0.2em 0.5em 0 1em;
  height: 55px; }
  .article-small:last-child {
    margin-right: 0; }
  @media screen and (min-width: 768px) {
    .article-small {
      height: 70px; } }
  @media screen and (min-width: 1250px) {
    .article-small {
      height: 95px; } }

.featured-wrapper {
  padding: 0.2em 0.5em 0 0.5em; }

@media screen and (min-width: 768px) {
  .article-wrapper {
    max-width: 160px;
    margin: auto; } }
@media screen and (min-width: 1250px) {
  .article-wrapper {
    max-width: 220px; } }

/*# sourceMappingURL=main.css.map */
