// -----------------------------------------------------------------------------
// This file contains all styles related to the footer of the site/application.
// -----------------------------------------------------------------------------
.page__bottom {
  width: 100%;
  background: $dark-grey;
}

.footer {
  padding: 1em 1em 0 1em;
  background: $dark-grey;
  color: $text-white;
  overflow: auto;
  ul {
    padding-top: 1em;
    @include span-columns(12);
    @include media(map-get($breakpoints, 'medium')) {
      @include span-columns(9);
    }
    li {
      width: 50%;
      float: left;
      @extend %button;
      @include media(map-get($breakpoints, 'medium')) {
        width: 33.33%;
      }
      a{
        color: lighten($dark-grey, 20%);
      }
    }
  }
  &__form {
    @include span-columns(12);
    @include media(map-get($breakpoints, 'medium')) {
      @include span-columns(3);
    }
   label {
      display: block;
      font-size: 0.7em;
      &:first-child {
        margin-bottom: 0.7em;
        font-weight: bold;
      }
    }
    button{
      display: inline-block;
      color: $text-white;
      background: lighten($dark-grey, 20%);
      @extend %button;
      width: 100px;
    }
    input{
      @extend %button;
    }
  }
}
