// -----------------------------------------------------------------------------
// This file contains all styles related to the footer of the site/application.
// -----------------------------------------------------------------------------

.footer {
  padding: 1em 1em 0 1em;
  background: #484848;
  color: white;
  overflow: auto;
  ul {
    padding-top: 1em;
    @include span-columns(12);
    @include media(map-get($breakpoints, 'medium')) {
      @include span-columns(9);
    }
    li {
      width: 50%;
      float: left;
      @extend %button;
      @include media(map-get($breakpoints, 'medium')) {
        width: 33.33%;
      }
      a{
        color: #ccc;
      }
    }
  }
  &__form {
    @include span-columns(12);
    @include media(map-get($breakpoints, 'medium')) {
      @include span-columns(3);
    }
   label {
      display: block;
      font-size: 0.7em;
      &:first-child {
        margin-bottom: 0.7em;
        font-weight: bold;
      }
    }
    button{
      display: inline-block;
      color: white;
      background: #767676;
      @extend %button;
      width: 100px;
    }
    input{
      @extend %button;
    }
  }
}

%button {
  height: 35px;
  border-radius: 50px;
  margin-bottom: 1em;
  font-size: 0.7em;

}
