// -----------------------------------------------------------------------------
// This file contains all styles related to the nav of the site/application.
// -----------------------------------------------------------------------------

%li {
  min-width: 3.5em;
  padding: 0.5em 0;
  @include span-columns(1);
  text-align: center;
}

.nav {
  background: $nav-blue;
  a {
    color: $text-white;
  }
  .nav__top{
    height: em(42px);
    @include row();
    i {
      margin-right: em(10px);
    }
    li {
      @extend %li;
      @include media(map-get($breakpoints, 'large')) {
        min-width: 10em;
      }
      &:last-child {
        @extend %li;
        @include direction-context(right-to-left) {
          @include span-columns(1);
        }
      }
      &:nth-last-child(2) {
        @extend %li;
        @include direction-context(right-to-left) {
          @include span-columns(1);
       }
      }
      span{
        display: none;
        @include media(map-get($breakpoints, 'large')) {
          display: inline-block;
        }
      }
    }
  }

  .logo{
    @include row();
  }
  picture {
    padding: 1em;
    float: right;
  }

  .nav__bottom {
    height: 48px;
    @include row();
    overflow: hidden;
    background: darken($nav-blue, 7%);
    text-align: center;
    li {
      @extend %li;
      &:first-child {
        background: $dark-grey;
    }
  }
}
}
