// -----------------------------------------------------------------------------
// This file contains all styles related to the nav of the site/application.
// -----------------------------------------------------------------------------

.nav {
  background: $nav-blue;
  a {
    color: $text-white;
  }
  li {
    padding: 0.5em 0;
  }
  .nav__top{
    @include row();
    i {
      margin-right: em(10px);
    }
    li{
      @include span-columns(1);

      text-align: center;
      &:last-child {
        @include direction-context(right-to-left) {
         @include span-columns(1);
        }
      }
      &:nth-last-child(2) {
        @include direction-context(right-to-left) {
         @include span-columns(1);
       }
      }
    }
  }
}

.logo{
  @include row();
}
picture {
  padding: 1em;
  float: right;
}

.nav__bottom {
  @include row();
  overflow: hidden;
  background: darken($nav-blue, 7%);
  text-align: center;
  li {
    @include span-columns(1);
  }
}
