// -----------------------------------------------------------------------------
// This file contains all styles related to the sections of the site/application.
// -----------------------------------------------------------------------------
.page__top {
  width: 100%;
  background: $nav-blue;
}

section {
  width: 95%;
  max-width: 1300px;
  margin: auto;
  &.headlines {
    margin-top: 0.5em;
  }
}

.header {
  @include span-columns(12);
  height: 40px;
  overflow: hidden;
  color: $nav-blue;
  @include media(map-get($breakpoints, 'medium')) {
    height:80px;
  }
  @include media(map-get($breakpoints, 'medium')) {
    height:100%;
  }
  @include media(map-get($breakpoints, 'large')) {
    @include span-columns(2);
  }
  &__date {
    @include span-columns(8) ;
    @include media(map-get($breakpoints, 'large')) {
      @include span-columns(12);
    }
    h3{
      padding: 0.2em;
      font-size: 1.2em;
    }
    h4{
      padding: 0.3em;
      font-size: 0.8em;
    }
  }
  &__weather {
    @include direction-context(right-to-left) {
      @include span-columns(4);
    }
    @include media(map-get($breakpoints, 'large')) {
      @include span-columns(12);
    }
    i{
      @extend %li;
    }
    li:first-child {
      @include media(map-get($breakpoints, 'large')) {
        @include span-columns(12);
        font-size: 2em;
      }
    }
  }
}

.content {
  @include media(map-get($breakpoints, 'medium')) {
    @include span-columns(12);
  }
  @include media(map-get($breakpoints, 'large')) {
    @include span-columns(10);
  }
}

.primary {
  @include row();
  &__featured {
    @extend %article--featured;
    &--pink{
      @extend %article--featured;
      @extend %article--pink;
    }
    .featured-wrapper {
      padding: 0.2em 0.5em 0 0.5em;
    }
  }
  &__side {
    @extend %article--tall;
  }
}

.secondary {
  @include row();
  &__tall {
      @extend %article--tall;
    &--pink {
      @extend %article--tall;
      @extend %article--pink;
    }
  }
  &__short {
    @include media(map-get($breakpoints, 'medium')) {
      @include span-columns(3);
    }
  }
  .article-preview{
    @extend %article--small;
    &--pink {
      @extend %article--small;
      @extend %article--pink;
    }
  }
}
